<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link
                    rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
            >
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}

            <header>
                <nav class="container">
                    <ul>
                        <li><a href="{{ path('app_index') }}">Index</a></li>
                        <li><a href="{{ path('app_products') }}">Products</a></li>
                    </ul>
                </nav>
            </header>

            <main class="container">
                {% block content %}{% endblock %}
            </main>

        {% endblock %}
    </body>
</html>
