{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block content %}

    <div>
        {% for product in products %}
            <div class="grid">
                <span>
                    {{ product.name }}
                </span>

                <span>
                    {{ product.price }}
                </span>

                <span>
                    <button> - </button>
                    <span>0</span>
                    <button> + </button>
                </span>

                <span>
                    Qt x unit price
                </span>
            </div>
            <hr />
        {% endfor %}
        <div class="grid">
            <label>Discount</label>
            <input type="text" id="discount" placeholder="Discount">
        </div>
        <div class="grid">
            <span>Total</span>
            <span id="total">XXX</span>
        </div>
    </div>

{% endblock %}
