<div {{ attributes }}>

    <button
            data-action="live#action"
            data-live-action-param="increment"
            data-live-inc-param="-10"
    >-10</button>

    <span>{{ this.total }}</span>

    <button
        data-action="live#action"
        data-live-action-param="increment"
        data-live-inc-param="10"
    >10</button>


</div>